
.search-bar-container {
  position: relative;
  width: 80%;
  margin: 0;
}

.search-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.search-input:focus {
  border: 1px solid #2196F3;
}
.search-input.not-filled-border {
  border: 1px solid red; 
}

.search-input::placeholder {
  color: #ccc;
}
.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  list-style: none;
  margin: 0;
  max-height: 180px;
  overflow-y: auto;
  z-index: 1050;
}

.dropdown-list li {
  padding: 5px 10px;
  line-height: 28px;
  cursor: pointer;
}



.dropdown-list::-webkit-scrollbar {
  width: 8px;
  
  background-color: white;
}

.dropdown-list::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 8px;


 
}

.dropdown-list li:hover {
  background-color: #dbdada;
  border-radius: 5px;
}
.clear-button {
  size: 10px;
  cursor: pointer;
  color: #ccc; 
  position: absolute;
  top: 0;
  right:0;
  transform: translate(-80%,68%);
  z-index: 101010;
}



.search-input:focus + .clear-button {
  display: inline-block; 
}