
header {
    background: #fff;
    position: initial;
    height: 66px;
    width: 100%;
    box-shadow: 0 3px 5px rgb(57 63 72 / 30%);
    z-index: 999 !important;
  }
  
  .logo-container {
    max-width: 100%;
    text-align: center;
  }
  
  .logo {
    max-width: 100%;
    height: auto;
  }
  